<div class="container">
  <div class="row">
    <h2><center>Web Scraping with MongoDB</center></h2>
    <h3><center>http://www.technewsworld.com/</center></h3>
  </div>

  <div class="">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation" class="active"><a href="/scrape">Scrape New Articles</a></li>
      <li role="presentation" class="active"><a href="/showAllArticles">All the Articles</a></li>
      <li role="presentation" class="active"><a href="/showSavedArticles">Saved Articles</a></li>
    </ul>
  </div>

<h2>{{title}}</h2>

  <div class="">
    {{#each AllArticles}}
      {{#unless this.articleSaved}}
      <div class="row" id="articlebox">
        <div class="col-md-8">
          <div class="d-inline-flex p-2">
            Article Title : {{this.articleTitle}}
            <br>
            Article Link:<a href="{{this.articleLink}}">{{this.articleLink}}</a>
            <br>
            Article Body: {{this.articleBody}}
          </div>
        </div>
        <div class="col-md-4">
          <form action="/articles/{{this.id}}" method="POST">
            <input type="hidden" name="articleSaved" value="true">
            <button type="submit" name="button">Save Article</button>
          </form>
        </div>
      </div>
      {{/unless}}
    {{/each}}
  </div>

  <div class="">
    {{#each SavedArticles}}
        {{#if this.articleSaved}}
        <div class="row" id="articlebox">
          <div class="col-md-8">
            <div class="d-inline-flex p-2">
              Article Title : {{this.articleTitle}}
              <br>
              Article Link:<a href="{{this.articleLink}}">{{this.articleLink}}</a>
              <br>
              Article Body: {{this.articleBody}}
            </div>
          </div>
          <div class="col-md-4">
              <button type="submit" name="button">Add Notes</button>
              <button type="submit" name="button">Delete from Saved</button>
          </div>
        </div>

        {{/if}}
      {{/each}}
  </div>


</div>
